:host {
    display: flex;
    width: 100%;
    justify-content: center;

    .form-container {
        display: flex;
        flex-direction: column;
        flex-basis: 55%;

        .full-width {
            width: 100%;

            button {
                width: 75%;
                left: 15%;
            }
        }
    }
}