:host {
    .container {
        display: flex;
        max-width: 85%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .train {
        display: flex;
        width: 100%;

        ::ng-deep {
            button {
                width: 100%;
                
            }
        }
    }
}