<section class="welcome">
    <label>Welcome, </label>
    <h3>{{user?.email | uppercase}}</h3>
</section>
<section class="container info">
    <button disabled="{{counter===0}}" (click)="trainLink()" mat-raised-button color="primary">Train
        {{counter}}</button>
    <button (click)="logOut()" mat-raised-button color="primary">Log Out</button>

</section>

<section class="container">
    <ng-container *ngFor="let hero of heroes$ | async">

        <app-card #card (selectHeroActionEmitter)="selectHeroActionHandler($event)" [hero]="hero">

            <ng-container train>
                <mat-card-actions>
                    <ng-container *ngIf="hero.trainer===null || hero.trainer==='null';else selected">
                        <button mat-button (click)="card.selectHeroAction({hero,action:actionType.SELECT})">Ready to
                            Train
                        </button>
                    </ng-container>
                    <ng-template #selected>
                        <button mat-button disabled="{{hero?.trainer!==user?._id}}"
                            (click)="card.selectHeroAction({hero,action:actionType.UNSELECT})">Training by {{hero?.trainerName}}</button>
                    </ng-template>
                </mat-card-actions>
            </ng-container>

        </app-card>

    </ng-container>
</section>

<router-outlet></router-outlet>